body{
    background-color: #ccc;
}
.create{
    background-color: #13466e;
    width: 45%;
    height: 14cm;
    margin-top: 1cm;
    margin-left: 10cm;
    border-radius: 40px;
}
.h2{
    text-align: center;
    font-size: 1.5rem;
    color: #8dea0c;
}
input{
    width: 500px;
    height: 1cm;
    border-radius: 10px;
    margin-left: 1.5cm;
    margin-top: 0.5cm;
}
input:hover{
    box-shadow: 4px 4px 4px #ccc,3px 3px 3px #0ddae9;
}
label{
    color: #8dea0c;
    font-size: 1.2rem;
    margin-left: 1.5cm;
    margin-top: 0.8cm;
}
button{
    margin-left: 4cm;
    width: 7cm;
    margin-top: 0.5cm;
    border-radius: 10px;
    height: 1cm;
    font-size: 1.5rem;
}
button:hover{
    color: #13466e;
}
select{
    width: 500px;
    height: 1cm;
    border-radius: 10px;
    margin-left: 1.5cm;
    margin-top: 0.5cm;
    font-size: 1.4rem;
}
select:hover{
    box-shadow: 4px 4px 4px #ccc,3px 3px 3px #0ddae9;
}
.go{
color: #8dea0c;
text-align: center;
}
a{
    text-decoration: none;
   margin-left: 6.5cm;
   margin-top: 2cm;
    font-size: 1.5rem;
    
}
a:hover{
    border-bottom: 4px solid #8dea0c;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
h1{
    text-align: center;
    color: #3ba1ef;
}