*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: fixed;
    background-color: #1b4b6f;
    display: flex;
    width: 100%;
    box-shadow: 2px 4px 6px rgb(172, 242, 9),4px 3px 2px rgb(12, 46, 55);
}
.logo img{
width: 100px;
height: 80px;
border-radius: 50%;
}
.header h2{
    margin-left: 12cm;
    margin-top: 1cm;
    color: rgb(172, 242, 9);
}
.header-menu{
    margin-top: 1cm;
    margin-left: 11cm;
    text-align: center;
}
.header-menu a{
    margin-top: 0.5cm;
    text-decoration: none;
    color:rgb(172, 242, 9);
    font-size: 1.2rem;
    transition: 10s;
}
.header-menu a:hover{
  border-bottom: 4px solid #162938;
}
.navbar{
    background-color: #1b4b6f;
    width: 25%;
    box-shadow: 2px 4px 6px rgb(172, 242, 9),4px 3px 2px rgb(12, 46, 55);
    margin-top: 3cm;
    height: 14cm;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    position: fixed;
}
.contents{
    display: flex;
    
}
.contents1{
    display: flex;
}
.navbar a{
    text-decoration: none;
    color: rgb(172, 242, 9);
    font-size: 1.5rem;
    transition: 10s;
    margin: 0.7cm 1cm;
}
.slide-contents{
    margin-left: 6cm;
    margin-top: 3cm;
    width: 100%;
    height: 5cm;
    text-align: center;
}
.slide-contents h2{
    margin-top: 0.5cm;
    margin-left: 3cm; 
    font-style: italic;
    font-weight: bold;
    color: #162938;
    border-bottom: 4px solid #162938;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.footer{
    background-color: #1b4b6f;
    width: 100%;
    height: 6cm;
    position: sticky;
    display: flex;
    margin-top: 6cm;
}
.contact{
    width: 50%;
    height: 6cm;
    border-radius: 80%;
    border-right: 10px solid rgb(172, 242, 9);
}
.location p{
    text-align: center;
    color: black;
    font-size: 1.2rem;
}
.location{
    width: 50%;
    height: 6cm;
    border-radius: 80%;
    border-left: 10px solid rgb(172, 242, 9);
}
.contact img{
    width: 60%;
    height: 5cm;
    border-radius: 30px;
    margin-left: 2cm;
   
}
.contact h2{
    color: rgb(172, 242, 9);
    text-align: center;
    text-decoration: underline;
    
}
select{
    width: 200px;
    height: 1cm;
}
.form form{
    border: 3px solid #162938;
    width: 260px;
    height: 8cm;
    margin-left: 5cm;
    border-radius: 10px;
    margin-top: 1cm;
}
input{
    width: 200px;
    height: 1cm;
    border-radius: 10px;
    margin-left: 0.3cm;
    margin-top: 0.5cm;
}
input:hover{
    box-shadow: 4px 4px 4px #ccc,3px 3px 3px #0ddae9;
}
button{
    margin-left: 0.2cm;
    width: 5cm;
    margin-top: 0.3cm;
    border-radius: 10px;
    height: 1cm;
    font-size: 1.5rem;
}
button:hover{
    color: #13466e;
}
label{
    color: #8dea0c;
    font-size: 1.2rem;
    margin-left: 0.5cm;
    margin-top: 0.8cm;
}